:root {
    --white: #F5EFF3;
    --light-pink: #AFA5AD;
    --pink: #FFC5E3;
    --light-purple: #C0B2EB;
    --dark-purple: #362C3A;
    --dark-gray: #161318;
}

body{
    background-color: var(--dark-gray);
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    width: fit-content;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
}
img {
    user-select: none;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;

    width: 1440px;
    height: 100px;
    box-sizing: border-box;

    background: var(--dark-gray);
    border-bottom: 1px solid var(--dark-purple);
}

#nav-left {
    display: flex;
    flex-grow: 0;
    align-items: center;
    gap: 12px;

    width: 200px;
    height: 44px;

    #nav-pfp {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--pink);
        border-radius: 50%;
        width: 40px;
        height: 40px;

        img {
            width: 24px;
            height: 24px;
        }
    }

    #nav-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;

        width: 148px;
        height: 44px;
    }

    h2 {
        margin: 0;
        color: var(--white);

        font-family: 'Dela Gothic One';
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;

        cursor: pointer;
    }

    p {
        margin: 0;
        color: var(--light-purple);

        font-family: 'DM Sans';
        font-weight: 600;
        font-size: 10px;
        text-transform: uppercase;
    }
}

#nav-center {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;

    width: 390px;
    height: 18px;

    li {
        color: var(--light-pink);

        font-family: 'DM Sans';
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
    }
}

#nav-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 14px 28px;

    background: var(--light-purple);
    border: none;
    border-radius: 32px;

    color: var(--dark-gray);
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    img {
        width: 18px;
        height: 18px;
    }
}


#section1 {
    background: var(--dark-gray);
    width: 1440px;
    height: 680px;
    padding: 0px 80px;

    display: flex;
    align-items: center;
    gap: 144px;
}

#section1-left {
    width: 624px;
    height: 486px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    h3 {
        background: #221C24;
        border: 1px solid var(--pink);
        border-radius: 20px;

        box-sizing: border-box;
        padding: 8px 16px;

        color: var(--pink);
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
    }

    h1 {
        color: var(--white);
        font-family: 'Dela Gothic One';
        font-weight: 400;
        font-size: 56px;
        line-height: 115%;
    }

    p {
        color: var(--light-pink);
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
    }

    #buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        #s1-button1 {
            display: flex;
            align-items: center;
            padding: 14px 28px;
            gap: 8px;

            background: var(--pink);
            border-radius: 100px;

            color: var(--dark-gray);
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;

            img {
                width: 16px;
                height: 16px;
            }
        }

        #s1-button2 {
            display: flex;
            align-items: center;
            gap: 8px;
            box-sizing: border-box;
            padding: 14px 28px;

            background-color: var(--dark-gray);
            border: 1px solid var(--light-pink);
            filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
            border-radius: 100px;

            color: #F5EFF3;
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}




#cim{
    color: var(--white);
    font-family: 'Apple Chancery', cursive;
}
#al-cim{
    color: var(--white);
    font-family: 'Courier', monospace;
}
#v-gomb{
    background-color: #221C24;
    border: 1px solid var(--pink);
    color: var(--pink);
    font-size: 12px;
    font-family: monospace;
    text-transform: uppercase;
    border-radius: 1000px;
    padding: 8px 20px;
    width: fit-content;
    background-color: var(--dark-purple);
}
#gomb2{
    background-color: var(--pink);
    border-radius: 5px;

}
#gomb3{
    background-color: var(--dark-gray);
    border: 2px solid var(--light-pink);
    color: #F5EFF3;
    border-radius: 5px;
}
#kartya{
    background-color: var(--purple);
    border: 2px solid var(--dark-purple);
    border-radius: 5px;
}

#kereso{
    background-color: var(--purple);
    border: 0.4px solid var(--light-pink);
    border-radius: 25px;
    font-family: 'Arial Narrow', sans-serif;
}


.foot{
    display: flex;
}