:root {
    --white: #F5EFF3;
    --light-pink: #AFA5AD;
    --pink: #FFC5E3;
    --light-purple: #C0B2EB;
    --purple: #362C3A;
    --dark-purple: #221C24;
    --dark-gray: #161318;
}

html {
    background-color: #140101;
    overflow: hidden;
}

body {
    background-color: var(--dark-gray);
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--white);

    cursor: url("cursor/normal.cur"), auto;

    scrollbar-color: var(--purple) var(--dark-gray);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--purple);
      border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
      background: var(--dark-gray);
    }
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    width: fit-content;
    cursor: url(cursor/text-select.cur), auto;
}
button {
    border: none;
    outline: none;
    cursor: url(cursor/pointer.cur), auto;
    user-select: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}
img {
    user-select: none;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    height: 100px;
    box-sizing: border-box;

    background: var(--dark-gray);
    border-bottom: 1px solid var(--purple);
}

#nav-left {
    display: flex;
    flex-grow: 0;
    align-items: center;
    gap: 12px;

    width: 200px;
    height: 44px;

    #nav-pfp {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--pink);
        border-radius: 50%;
        width: 40px;
        height: 40px;

        img {
            width: 24px;
            height: 24px;
        }
    }

    #nav-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;

        width: 148px;
        height: 44px;
    }

    h2 {
        margin: 0;
        color: var(--white);

        font-family: 'Dela Gothic One';
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;

        cursor: url(cursor/pointer.cur), auto;
    }

    p {
        margin: 0;
        color: var(--light-purple);

        font-family: 'DM Sans';
        font-weight: 600;
        font-size: 10px;
        text-transform: uppercase;
    }
}

#nav-center {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;

    li {
        color: var(--light-pink);

        font-family: 'DM Sans';
        font-weight: 600;
        font-size: 16px;
        cursor: url(cursor/pointer.cur), auto;
    }
}

#nav-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 14px 28px;

    background: var(--light-purple);
    border: none;
    border-radius: 32px;

    color: var(--dark-gray);
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    img {
        width: 18px;
        height: 18px;
    }
}


section {
    padding: 97px 80px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--purple);
}

#section1 {
    background: var(--dark-gray);
    padding: 97px 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 144px;
}

#section1-left {
    display: flex;
    flex-direction: column;
    gap: 32px;

    h3 {
        background: #221C24;
        border: 1px solid var(--pink);
        border-radius: 20px;

        box-sizing: border-box;
        padding: 8px 16px;

        color: var(--pink);
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
    }

    h1 {
        color: var(--white);
        font-family: 'Dela Gothic One';
        font-weight: 400;
        font-size: 56px;
        line-height: 115%;
    }

    p {
        color: var(--light-pink);
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
    }

    #buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        #s1-button1 {
            display: flex;
            align-items: center;
            padding: 14px 28px;
            gap: 8px;

            background: var(--pink);
            border-radius: 100px;

            color: var(--dark-gray);
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;

            img {
                width: 16px;
                height: 16px;
            }
        }

        #s1-button2 {
            display: flex;
            align-items: center;
            gap: 8px;
            box-sizing: border-box;
            padding: 14px 28px;

            background-color: var(--dark-gray);
            border: 1px solid var(--light-pink);
            filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
            border-radius: 100px;

            color: #F5EFF3;
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }

    #s1-promo {
        background: var(--dark-purple);
        padding: 16px 24px;
        border-radius: 16px;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: column;
        justify-items: center;
        gap: 2px 32px;

        h4 {
            color: var(--pink);
            font-family: 'Dela Gothic One';
            font-weight: 400;
            font-size: 24px;
            text-transform: uppercase;
        }
    }
}

#section1-right {
    min-width: 440px;
    width: 440px;
    height: 440px;
    border-radius: 32px;
    box-sizing: border-box;
    position: relative;

    div {
        border: 3px solid #FFC5E3;
        border-radius: 32px;
        width: 440px;
        height: 440px;
        background-size: cover;
        position: absolute;
        transition: 0.3s ease-in-out;
        left: 0;
        top: 0;

        &:first-child {
            z-index: 3;
            background-image: linear-gradient(#00000022), url(assets/cat-image.png);
        }
        &:last-child {
            z-index: 2;
            background-image: linear-gradient(#00000022), url(assets/neko-maid.jpg);
            margin: 18px 0 0 18px;
        }
    }

    &:hover {
        div:first-child {
            z-index: 1 !important;
            translate: 18px 18px;
        }
        div:last-child {
            translate: -18px -18px;
        }
    }
}


.horizontal-gallery {
    display: flex;
    flex-direction: column;
    gap: 48px;

    h2 {
        width: 100%;
        color: var(--white);
        font-family: 'Syne';
        text-align: center;
        font-weight: 800;
        font-size: 44px;
        line-height: 115%;
    }

    &>div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        gap: 24px;
    }

    .card {
        background: var(--dark-purple);
        border: 2px solid var(--purple);
        transition: 0.2s ease-in-out;
        &:hover { border-color: #5c4764; }
        border-radius: 24px;
        flex: 1;

        display: flex;
        flex-direction: column;
        padding: 16px;
        box-sizing: border-box;
        gap: 16px;

        &>img {
            width: 100%;
            aspect-ratio: 1/1;

            /*background-image: url(assets/cat-image.png);*/
            background-size: cover;
            border-radius: 16px;
        }

        .card-desc {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 12px;
            column-gap: 40px;
        }

        h4 {
            color: #F5EFF3;
            font-family: 'Syne';
            font-weight: 800;
            font-size: 20px;
            line-height: 24px;
        }

        h4+div {
            width: max-content;
            padding: 4px 10px;
            box-sizing: border-box;
            background: rgba(255, 197, 227, 0.133333);
            border: 1px solid var(--pink);
            border-radius: 12px;

            display: flex;
            flex-direction: row;
            justify-self: end;

            color: #FFC5E3;
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 11px;
            line-height: 14px;
        }

        &:nth-child(2n of &) h4+div {
            background: rgba(192, 178, 235, 0.133333);
            border: 1px solid #C0B2EB;
            color: #C0B2EB;
        }

        .card-desc-p {
            grid-column: span 2;
            color: #AFA5AD;
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-transform: capitalize;
        }

        .spacer {
            grid-column: span 2;
            width: 100%;
            height: 1px;
            background-color: var(--purple);
            border-radius: 20px;
        }

        .card-fav-spot {
            grid-column: span 2;
            display: flex;
            align-items: center;
            gap: 8px;

            color: #AFA5AD;
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
        }
    }
}


#foods {
    display: flex;
    flex-direction: column;
    gap: 56px;

    #foods-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        h2 {
            color: #F5EFF3;
            font-family: 'Syne';
            font-weight: 800;
            font-size: 44px;
            line-height: 115%;
        }

        button {
            display: flex;
            align-items: center;
            padding: 14px 28px;
            gap: 8px;
            background-color: transparent;

            border: 1px solid #AFA5AD;
            border-radius: 32px;

            color: #F5EFF3;
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
        }
    }

    #foods-bottom {
        display: flex;
        align-items: center;
        gap: 68px;
        margin: auto;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 0px;

        }

        li {
            display: flex;
            align-items: center;
            padding: 20px;
            gap: 20px;

            background: var(--dark-purple);
            border: 1px solid var(--purple);
            border-radius: 20px;
            flex: 1;

            img {
                width: 100px;
                height: 100px;
                border-radius: 12px;
            }

            div {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: repeat(3, auto);
                gap: 8px;
                width: 100%;

                h4 {
                    color: var(--white);
                    font-family: 'Syne';
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 22px;
                }

                #price {
                    color: #FFC5E3;
                    font-family: 'Syne';
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 22px;
                    justify-self: end;
                }

                #desc {
                    color: #AFA5AD;
                    font-family: 'DM Sans';
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 150%;
                    grid-column: span 2;
                }

                #category {
                    color: #C0B2EB;
                    font-family: 'DM Sans';
                    font-weight: 700;
                    font-size: 11px;
                    line-height: 14px;
                    grid-column: span 2;
                }
            }
        }

        &>div {
            border-radius: 32px;
            isolation: isolate;
            position: relative;

            #img {
                border-radius: 32px;
                width: 515px;
                height: 480px;
                background: linear-gradient(#00000044, #00000044), url(assets/food-big.png);
                z-index: 0;
            }

            #overlay {
                background: #161318;
                border: 1px solid #FFC5E3;
                border-radius: 20px;
                box-sizing: border-box;
                width: 340px;
                height: 115px;
                position: absolute;
                left: 24px;
                bottom: 24px;
                z-index: 1;

                display: flex;
                flex-direction: column;
                padding: 24px;
                gap: 8px;
            }

            h4 {
                color: #FFC5E3;
                font-family: 'Dela Gothic One';
                font-weight: 400;
                font-size: 16px;
                line-height: 23px;
            }

            p {
                color: #F5EFF3;
                font-family: 'DM Sans';
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}


#events {
    background: #161318;
    display: flex;
    flex-direction: column;
    gap: 48px;

    h2 {
        color: #F5EFF3;
        font-family: 'Syne';
        font-weight: 800;
        font-size: 44px;
        line-height: 115%;
        text-align: center;
        width: 100%;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    li {
        background: #221C24;
        border: 1px solid #362C3A;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 24px;
        gap: 24px;
        width: 100%;

        #date {
            background: #FFC5E3;
            border-radius: 16px;
            width: 100px;
            height: 100px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4px;

            p:first-child {
                color: #161318;
                font-family: 'Dela Gothic One';
                font-weight: 400;
                font-size: 18px;
                line-height: 26px;
            }

            p:last-child {
                color: #161318;
                font-family: 'DM Sans';
                font-weight: 800;
                font-size: 11px;
                line-height: 14px;
                text-transform: uppercase;
            }
        }

        #desc {
            display: flex;
            flex-direction: column;
            gap: 8px;

            h6 {
                color: #C0B2EB;
                font-family: 'DM Sans';
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
            }

            h4 {
                color: #F5EFF3;
                font-family: 'Syne';
                font-weight: 800;
                font-size: 20px;
                line-height: 24px;
            }

            p {
                color: #AFA5AD;
                font-family: 'DM Sans';
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
            }
        }

        button {
            box-sizing: border-box;
            border: 1px solid #AFA5AD;
            border-radius: 100px;
            margin-left: auto;

            display: flex;
            align-items: center;
            padding: 14px 28px;
            gap: 8px;

            color: #F5EFF3;
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
        }
    }
}


#photo-grid {
    display: flex;
    flex-direction: column;
    gap: 48px;

    h2 {
        color: #F5EFF3;
        font-family: 'Syne';
        font-weight: 800;
        font-size: 44px;
        line-height: 115%;
    }

    div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: column;
        gap: 24px;
        width: 100%;

        img {
            border-radius: 24px;
            width: 100%;
            transition: 0.1s ease-in-out;
        }

        img:first-child, img:last-child {
            grid-row: span 2;
        }

        img:hover {
            zoom: 6;
        }
    }

    p {
        color: #FFC5E3;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
    }
}


#location {
    display: flex;
    gap: 48px;

    #info {
        display: flex;
        flex-direction: column;
        gap: 32px;

        h2 {
            color: #F5EFF3;
            font-family: 'Syne';
            font-weight: 800;
            font-size: 44px;
            line-height: 115%;
        }

        #address {
            zoom: 1.3;
            display: flex;
            flex-direction: column;
            gap: 24px;

            &>div {
                display: grid;
                grid-template-columns: auto 1fr;
                column-gap: 16px;
                row-gap: 4px;

                div {
                    background: #221C24;
                    border: 1px solid #FFC5E3;
                    border-radius: 12px;
                    width: 40px;
                    height: 40px;
                    box-sizing: border-box;
                    grid-row: span 2;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:last-child div {
                    background: #221C24;
                    border: 1px solid #C0B2EB;
                }

                h4 {
                    color: #F5EFF3;
                    font-family: 'Syne';
                    font-weight: 800;
                    font-size: 16px;
                    line-height: 19px;
                }

                p {
                    color: #AFA5AD;
                    font-family: 'DM Sans';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }

        #notice {
            zoom: 1.3;
            background: #221C24;
            border: 1px solid #362C3A;
            border-radius: 20px;

            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 8px;

            h4 {
                color: #FFC5E3;
                font-family: 'Syne';
                font-weight: 800;
                font-size: 14px;
                line-height: 17px;
            }

            p {
                color: #AFA5AD;
                font-family: 'DM Sans';
                font-weight: 400;
                font-size: 13px;
                line-height: 150%;
            }
        }
    }

    #map {
        box-sizing: border-box;
        width: 733px;
        height: 420px;
        background-image: url(assets/map.png);
        background-size: cover;
        border: 2px solid #FFC5E3;
        border-radius: 24px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        button {
            box-sizing: border-box;
            width: 216px;
            height: 42px;
            background: #161318;
            border: 1px solid #C0B2EB;
            border-radius: 24px;

            color: #F5EFF3;
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;

            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 12px 20px;
            gap: 8px;
        }
    }
}


#reviews {
    display: flex;
    flex-direction: column;
    gap: 48px;

    h2 {
        color: #F5EFF3;
        font-family: 'Syne';
        font-weight: 800;
        font-size: 44px;
        line-height: 115%;
        text-align: center;
        width: 100%;
    }

    &>div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;

        &>div {
            background: #221C24;
            border: 1px solid #362C3A;
            border-radius: 24px;
            box-sizing: border-box;
            width: 100%;
            padding: 24px;

            display: flex;
            flex-direction: column;
            gap: 20px;

            &>img {
                width: 24px;
            }

            p:first-of-type {
                color: #F5EFF3;
                font-family: 'DM Sans';
                font-weight: 400;
                font-size: 15px;
                line-height: 160%;
            }

            .spacer {
                width: 100%;
                height: 1px;
                background-color: #362C3A;
                border-radius: 10px;
                margin-top: auto;
            }

            .profile {
                display: grid;
                grid-template-columns: auto 1fr;
                column-gap: 12px;
                row-gap: 2px;

                div {
                    width: 40px;
                    height: 40px;
                    background: #C0B2EB;
                    border-radius: 20px;
                    grid-row: span 2;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                h4 {
                    color: #F5EFF3;
                    font-family: 'Syne';
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 17px;
                }

                p {
                    color: #C0B2EB;
                    font-family: 'DM Sans';
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }
}



/* --- \/ Többiek kódja  \/ --- */

#kereso{
    background-color: var(--purple);
    border: 0.4px solid var(--light-pink);
    border-radius: 25px;
    font-family: 'Arial Narrow', sans-serif;
}


.foot{
    display: flex;
    background-color: #221C24;

}
.fo{
    margin: 69px;
    color: #AFA5AD;
}